<mat-card>
    <mat-card-content>
        <h2>
            Customer DashBoard
        </h2>
        <table class="Customer-table" >
         <tr>
            <th><b>Name</b></th>
            <th><b>Position</b></th>
            <th><b>Address</b></th>
            <th><b>PhoneNumber</b></th>
        </tr> 
        <tr *ngFor="let c of Customers">

                <td>{{c.name}}</td>
                <td>{{c.position}}</td>
                <td>{{c.address}}</td>
                <td>{{c.phoneNumber}}</td>
            </tr>
          
    
        </table>
    </mat-card-content>
</mat-card>
